
.combinediv {
    margin-top: 55px;
}

.lnavbar {
    background-color: #83a7e5;
    width:18%;
    height: 100vh; /* Full viewport height for vertical snapping */
    padding: 10px 10px 60px 10px;
    overflow-y: scroll; /* Enables vertical scrolling */
    scroll-snap-type: y mandatory; /* Enables scroll snapping */
    position: fixed;
    right: 0;
    scroll-behavior: smooth;
    z-index: 1000;
}

.mainDiv {
    padding: 20px 40px;
    scroll-snap-type: y mandatory; /* Enables scroll snapping */
    scroll-behavior: smooth;

}

#menuToggleButton{

}


@media screen and (max-width: 500px) {
    .mainDiv {
        padding: 5px 10px;
        scroll-snap-type: y mandatory; /* Enables scroll snapping */
        scroll-behavior: smooth;
    }
}


.l-link {
    font-size:13px;
    color: blue;
    text-decoration: none;
}

.l-link:hover {
        color: black;
    }

.searchbar{
    height:25px;
    width:100%;
    border-radius:5px;
    border:none;
    font-size:12px;
    padding:0px 10px;
}


#leftNavBar {
    transition: linear 0.12s;
}




.wrapper {
    overflow: hidden;
}

    .wrapper img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: scale 0.8s;
    }

    .wrapper:hover img {
        scale: 120%;
    }



.search-container {
    margin-bottom: 20px;
}

.results-container ul {
    list-style: none;
    padding: 0;
}

.results-container li {
    margin: 5px 0;
}

    .results-container li.hidden {
        display: none;
    }
